.Playground__area {
    position: relative;
    min-height: 500px;
    background: url("img/playground.jpeg") center center no-repeat;
    background-size: cover;
}

#ball {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#ball.rotate img {
    display: block;
    -moz-animation:.95s rotateRight infinite linear;
    -webkit-animation:.95s rotateRight infinite linear;
}


@-moz-keyframes rotateRight{
    0%{ -moz-transform:rotate(0deg); -moz-transform-origin:50% 50%; }
    100%{ -moz-transform:rotate(360deg); }
}

@-webkit-keyframes rotateRight{
    0%{ -webkit-transform:rotate(0deg); -webkit-transform-origin:50% 50%; }
    100%{ -webkit-transform:rotate(360deg); }
}


/* turn off displaying game */

.Playground__area .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 400px;
    z-index: 5;
    background: white;
    /* opacity: 0.7; */
    z-index: 10;
}

.Playground__area .blur #ball {
    opacity: 0;
}

.word__container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

#myWord {
    position: absolute;
    top: 25%;
    left: 50%;
    width: auto;
    min-width: 310px;
    padding: 0 20px;
    min-height: 30px;
    transform: translateX(-50%);
    background: grey;
    border: none;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
    padding-left: 10px;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}

#myWord:focus {
    outline: 1px solid black;;
}

/* game options */
.options {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.options button {
    min-width: 35px;
    margin-right: 10px;
    padding: 5px;
    background: white;
    border: 0;
    border-bottom: 2px solid lightgrey;
}

.options button.speech-btn {
    float: right;
    border-bottom: 0;
}

.speech-btn span {
    vertical-align: middle;
}

.speech-btn span:first-child {
    margin-right: 5px;
}

.options button:active {
    border-color: black;
}

.options button:focus {
    outline: 0;
}

.options.options-display {
    position: fixed;
    top: 62%;
    transform: translateY(-100%);
    right: 0 !important;
    left: auto;
    z-index: 100;
}

.options-display button {
    margin-bottom: 10px;
    margin-right: 15px;
    border: none;
    background: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-weight: bold;
}

.options-display button:active {
    color: lightgrey;
}

/* game score */
.score {
    position: absolute;
    top: 100px;
    left: 15px;
    padding: 10px;
    border-radius: 5px;
    font-size: 36px;
    font-weight: 800;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 2px 0 #000;
}

.score span {
    font-size: 24px;
    color: #FFFF00;
    -webkit-text-stroke: 1px #000;
}

/* responsive design */
@media only screen and (max-width: 480px) {
    .speech-btn span:nth-child(2) {
        display: block;
        font-size: 11px;
    }
    #ball img {
        width: 100%;
    }

    .word__box {
        min-width: 75% !important;
    }

    .word__box {
        font-size: 22px;
    }
}