.Timer {
    position: fixed;
    margin: 0 15px 0;
    transform: translateY(-50%);
    padding: 10px;
    background: black;
    border: 2px solid white;
    font-size: 36px;
    -moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 10;
}

@media only screen and (max-width: 480px) {
    .Timer {
        left: 50%;
        margin-left: -42px;
        transform: translateY(0%);
        font-size: 24px;
    }
}